/* formatação do <body> <p> ... --------------------------------- */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web);
@font-face {
    font-family:'FonteLogo' ;
    src: url("../fonts/bubblegum-sans-regular.otf") ;
}
body {
    font-family: Arial , sans-serif;
    background-color: #dddddd;
    color:rgba(0,0,0,1);
    background: url("../imagens/glass-fundo.jpg"); 
    background-size: 150px;
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: 170px;
    box-shadow:  0px 0px 30px black;
    padding: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Formataçaõ de icones --------------------------------------- */
header#cabecalho img#icone {
    width: 200px;
    position: absolute;
    left: 1000px;
    margin: 20px;
    top: 242px;
}

/* Aula 16 – Cabeçalho em CSS3 + parâmetro de inserção de imagem com CSS */
header#cabecalho {
    width: 750px;
    border-bottom: #606060 solid;
    height: 150px;
    background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 90px; 
}
header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: rgb(63, 65, 85);
    text-shadow: 1px 1px 1px rgba(0,0,0, .6);
    padding: 0px;
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: -10px;
}

/* formatação de imagens com legendas ----------------------- */
figure.foto-legenda img {
   padding-left: 140px;
}

/* Formatação dos menus ------------------------------------- */
nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:  20px;
    left: 445px;
}
nav#menu li {
    display: inline-block ;
    background-color: #dddddd;
    padding: 10px;
    margin: 4px;
    transition: background-color 3s;
}
/* formatação visual com hover das litas ordenadas */
nav#menu li:hover{
    background-color: #606060 ;
}
nav#menu h1 {
    display: none;
}
nav#menu a {
    color: #000000;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
}

/* tag article, editando fontes com cores e posições */
article#noticia-principal h2 {
font-size: 20px;
color: #606060;
background-color: #dddddd;
padding: 5px 0px 5px 10px;
margin: 10px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo' , sans-serif;
    font-size: 20px;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2 {
    font-size: 13px;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3 {
    font-size: 13px;
    color: #606060;
}
.direita {
    text-align: right;
}

/* Tabelas em html, usando <tr> e <td> */
table#especificacoes {
    width: 500px;
    border: 1px solid #606060;
    border-spacing: 1px ;
    margin-left: auto;
    margin-right: auto;
    
}
table#especificacoes td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

}
table#especificacoes td.colunaesquerda {
    color: white;
    background-color: rgb(68, 67, 67);
    vertical-align: top;
    font-weight: bold;

}
table#especificacoes td.colunadireita {
    background-color: #888888;
    vertical-align: middle;
}
table#especificacoes caption {
   color: #888888;
   font-size: 15pt;
   font-weight: bolder; 
}
table#especificacoes caption span {
    display: block;
    float: right;
    color: rgba(0, 0, 0,);
    font-size: 10px;
    margin-top: 10px;   
}
h1#outrasnoticias {
    font-family: 'FonteLogo', sans-serif;
    font-size: 25pt;
    color: rgb(63, 65, 85);
    text-shadow: 1px 1px 1px rgba(0,0,0, .6);
    padding: 0px;
    margin: 15px;
}

footer.rodape {
    display: block;
    clear: both;
    border-top: 2px solid #606060;
}
footer.rodape p {
    text-align: center;
    margin-left: -80px;
}
footer.rodape a {
    margin-left: 25px;
}

span.cortabgglass {
    font-size: x-large;
}